body{
    background-color: #1a1a1a;
    width: 100vw;
    height: 100vh;
    margin: 10px auto;
    padding: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.background-img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9;
    background-image: url('../img/default.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
@keyframes fadein{
    0%{
        color: transparent;
    }
    100%{
        color: whitesmoke;
    }
}
.welcome{
    color: whitesmoke;
    padding: 10px;
    font-size: 60px;
    animation-name: fadein;
    animation-duration: 1s;
    filter: drop-shadow(10px 10px 7px #000);
}
input{
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background: transparent;
    border: 0 none;
    color: whitesmoke;
    filter: drop-shadow(10px 10px 7px #000);
}
input:focus{
    outline: none;
}
input::placeholder{
    color: whitesmoke;
    opacity: 0.375;
}